@charset "utf-8";
*{
  margin:0;
  padding:0;
  overflow:auto;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse; /*单元格的压缩*/
  border-spacing: 0;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}

ol,ul {
  list-style: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before,q:after {
    content:”;
}

abbr,acronym { 
  border: 0;
}

a{
  text-decoration: none;
}

.header{
  width:100%;
  height:230px;
  background-color: #fff;
}

.header .head{
  width:80%;
  margin: 0 auto;
  height:30px;
}

.header .head a{
  width:20px;
  height:20px;
  float: right;
}

.header .discription{
  width:100%;
  height: 200px;
  background-color: #269560;
}

.header .discription p{
  width: 345px;
  height: 68px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 57px;
  font-size: 48px;
  font-weight: bold;
}

.container{
  width:100%;
  min-height: 500px;
  float: left;
  background-color: #fff;
}

.container .content{
  width:60%;
  min-height: 500px;
  border:1px solid #269560;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #269560;
  overflow: hidden;
}

.footer .foot{
  width:80%;
  height:80px;
  margin: 0 auto;
  text-align: center;
  margin-top:20px;
}

.footer .foot p{
  font-size: 20px;
}

.content ul{
  width: 90%;
  padding-left: 5%;
  padding-top: 5px;
}

.content ul li{

}
